<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WKWebviewH5Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9455E8A11DDF0874007A4B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9455E8BA1DDF0874007A4B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9455E8C51DDF0874007A4B1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
